<center> <img src = https://play-lh.googleusercontent.com/YpAV7Q-ZJhI5tzFk_wEX-7-x2BydtnCtFTVUrmq0zAO6jLCLA4nNcfem3p_Pyowg9w width='350'>

# <center> Проект SQL: Анализ вакансий из HeadHunter

In [1]:
import psycopg2 # библиотека для работы phyton с СУБД PostgreSQL
import pandas as pd

## Предварительный анализ данных

#### количество вакансий

In [3]:
# Используем БД - project_sql, схему - public
connection_project = psycopg2.connect(
   dbname='-',
   user='-',
   host='-',
   password='-',
   port= -
)

query_3_1 = f''' 
            select count(*)
            from public.vacancies
            limit 10
            '''
            # считаем кол-во вакансий

In [5]:
exit_3_1 = pd.read_sql_query(query_3_1, connection_project)# делаем запрос к таблице vacancies
display(exit_3_1)

   count
0  49197

#### количество работодателей

In [6]:
query_3_2 = f''' 
            select COUNT(*)
            FROM public.employers 
            '''

In [7]:
exit_3_2 = pd.read_sql_query(query_3_2, connection_project)
display(exit_3_2)

   count
0  23501

#### количество регионов

In [8]:
query_3_3 = f''' 
            SELECT COUNT(*)
            FROM public.areas
            '''

In [9]:
exit_3_3 = pd.read_sql_query(query_3_3, connection_project)
display(exit_3_3)

   count
0   1362

#### количество сфер деятельности

In [10]:
query_3_4 = f''' 
            SELECT COUNT(*)
            FROM public.industries
            '''

In [11]:
exit_3_4 = pd.read_sql_query(query_3_4, connection_project)
display(exit_3_4)

   count
0    294

# Детальный анализ вакансий

#### сколько вакансий в каждом регионе.Выберите пятёрку лидеров по количеству вакансий:

In [12]:
query_4_1 = f''' 
            SELECT
                ar.name AS area,
                COUNT(*) AS cnt
            FROM 
                public.vacancies AS vc -- Для получения названий регионов и городов соединяем таблицы vacancies и areas
                JOIN public.areas AS ar ON vc.area_id = ar.id
            GROUP BY ar.name
            ORDER BY 2 DESC 
            LIMIT 5
            '''

In [13]:
exit_4_1 = pd.read_sql_query(query_4_1, connection_project)
display(exit_4_1)

# Импортируем библиотеку plotly для визуализации результата
import plotly.express as px
plot = px.bar(data_frame = exit_4_1,
              x = 'cnt',
              height = 400,
              width = 700,
              color = 'area',
              orientation = 'h'
              )
plot.show()

              area   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

Можно сделать вывод, что в этих городах высокие спрос и предложение на работу и,следовательно, заработная плата выше в сравнении с другими городами, поскольку создается хорошая конкуренция среди компаний и работников.

#### Количество вакансий с заполненым хотя бы одним из двух полей с зарплатой

In [14]:
query_4_2 = f'''
            SELECT 
                COUNT(*)
            FROM public.vacancies vc
            WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL 
            
            '''

In [15]:
exit_4_2 = pd.read_sql_query(query_4_2, connection_project)
display(exit_4_2)

   count
0  24073

Примерно в половине всех вакансий не указа зарплатная вилка. Это может говорить о неуверенности работодателей в том, какой именно специалист ему необходим для выполнения тех или иных задач, какие компетенции будет выполнять сотрудник и какую пользу принесет его работа.
Так же можно предположить, что компании ищут кандидатов, знающих цену своей работе и ориентирующихся в рынке.

#### Cредние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого числа.

In [16]:
query_4_3 = f''' 
            SELECT
                AVG(salary_from) AS lower_mean,
                AVG(salary_to) AS upper_mean
            FROM public.vacancies
            '''

In [17]:
exit_4_3 = pd.read_sql_query(query_4_3, connection_project)
display(exit_4_3)

     lower_mean     upper_mean
0  71064.657901  110536.741923

#### количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях.

In [18]:
query_4_4 = f''' 
            SELECT
                schedule,
                employment,
                COUNT(*)
            FROM public.vacancies
            GROUP BY 1,2
            ORDER BY 3 DESC
            limit 5
            '''

In [19]:
exit_4_4 = pd.read_sql_query(query_4_4, connection_project)
display(exit_4_4)

           schedule           employment  count
0       Полный день     Полная занятость  35367
1  Удаленная работа     Полная занятость   7802
2     Гибкий график     Полная занятость   1593
3  Удаленная работа  Частичная занятость   1312
4    Сменный график     Полная занятость    940

Заметное большинство вакансий указывается с графиком Полный день и трудоустройством Полная занятость, такой вариант характерен для работы в офисе. Можно предположить, что значительное большинство компаний хотят иметь возможность контролировать работу своих сотрудников, также помогать и направлять их эффективнее оффлайн. Сочетание этих условий попогает добиться хорошей отдачи от работы в виде результата и выстраиванию долгосрочного сотрудничества с работником.

#### Выведем значения поля experience в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [20]:
query_4_5 = f''' 
            SELECT
                experience,
                COUNT(*)
            FROM public.vacancies
            GROUP BY 1
            ORDER BY 2
            '''

In [21]:
exit_4_5 = pd.read_sql_query(query_4_5, connection_project)
display(exit_4_5)

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

Наиболее востребованы специалисты начинающие и с опытом от 3 до 6 лет. Молодые и начинающие специалисты развиваются в компании и становятся опытными специалистами глубоко понимающими задачи организации. Таких сотрудников нанимают в основном устойчивые на рынке компании, имеющие возможность "растить" новых специалистов и расширяться. Можно предположить что мы имеем дело с разивающимся рынком.
Молдые компании, пока не готовые обучать малоопытных специалистов, ищут сотруднка со средним или большим опытом, что бы быстро получить результат его работы и наладить выполнение недостающей для бизнеса части работы.

# Анализ работодателей

#### Какие работодатели находятся на первом и пятом месте по количеству вакансий

In [22]:
query_5_1 = f''' 
            SELECT 
                empl.name,
                COUNT(*)
            FROM public.employers empl
                JOIN public.vacancies vc ON vc.employer_id = empl.id
            GROUP BY 1
            ORDER BY 2 DESC
            LIMIT 5
            '''

In [23]:
exit_5_1 = pd.read_sql_query(query_5_1, connection_project)
display(exit_5_1)

            name  count
0         Яндекс   1933
1     Ростелеком    491
2       Тинькофф    444
3           СБЕР    428
4  Газпром нефть    331

Из вывода следует что Яндекс разместил вакансий больше остальных. Следовательно крупная компания нацелена на расширение и развитие бизнеса в разных секторах. Скорее всего Яндекс, в отличии от других компаний, имеет больше представлений разной продукции на рынке, что делает его бренд узнаваемым (в том числе и компаний вошедших в топ-5). Предположу, что Яндекс расширяет бизнес за счет человеческих ресурсов для предоставления услуг, доступных конечному потребителю (физ.лицам).

#### Для каждого региона вывести количество работодателей и вакансий в нём. Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей

In [24]:
query_5_2 = f''' 
            SELECT
                ar.name,
                COUNT(vc.id) vc,
                COUNT(em.id) emp
            FROM public.areas ar
                LEFT JOIN public.vacancies vc ON ar.id = vc.area_id
                LEFT JOIN public.employers em ON ar.id = em.area
            GROUP BY 1
            ORDER BY vc ASC, emp DESC
            '''

In [25]:
exit_5_2 = pd.read_sql_query(query_5_2, connection_project)
display(exit_5_2)

                    name        vc       emp
0                 Россия         0       410
1              Казахстан         0       207
2     Московская область         0        75
3     Краснодарский край         0        19
4     Ростовская область         0        18
...                  ...       ...       ...
1357         Новосибирск   1149438   1149438
1358              Алматы   1364132   1364132
1359               Минск   2354880   2354880
1360     Санкт-Петербург   6320667   6320667
1361              Москва  31272712  31272712

[1362 rows x 3 columns]

Регион регистрации некоторых работодателей указывается как страна и не содержит вакансий. Возможно это компании, которые не нуждаются в сотрудниках.

In [26]:
query_5_3 = f''' 
            SELECT 
                em.name,
                COUNT(DISTINCT vc.area_id)
            FROM public.employers em
                JOIN public.vacancies vc ON em.id = vc.employer_id
            GROUP BY 1
            ORDER BY 2 desc
            '''

In [27]:
exit_5_3 = pd.read_sql_query(query_5_3, connection_project)
display(exit_5_3)

                         name  count
0                      Яндекс    181
1                  Ростелеком    152
2                  Спецремонт    116
3      Поляков Денис Иванович     88
4                   ООО ЕФИН      71
...                       ...    ...
14761                  UniSol      1
14762            UNISTORY LLC      1
14763                   UNIT6      1
14764     United Distribution      1
14765              UNITEL LLC      1

[14766 rows x 2 columns]

Компании с боьшим числом регионов, в которых размещены вакансии, иеют бльшое покрытие по стране и делают свой продукт популярнее. Такой разброс может означать, что компании имеют бизнес в сфере обслуживания. Поэтому для привлечения новых сотрудников подходят многие регионы имеющие потенциал использования услуг населением.

#### подсчёт количества работодателей, у которых не указана сфера деятельности.

In [28]:
query_5_4 = f''' 
            SELECT
                COUNT(*)
            FROM 
                public.employers_industries em_i
                JOIN public.industries ind ON em_i.industry_id = ind.id
                RIGHT JOIN public.employers em ON em_i.employer_id = em.id
            WHERE ind.name IS NULL
            '''

In [29]:
exit_5_4 = pd.read_sql_query(query_5_4, connection_project)
display(exit_5_4)

   count
0   8419

Более 8 тысяч работодателей не указали сферу деятельности. Возможно эту информацию просто не указали или это связано с определенной секретностью. Поскольку понять, чем занимается организация нельзя напрямую, можно проанализировать наличие вакансий у таких работодателей и установить род деятельности. Если у компании отсутствуют и вакансии, то такая запись в данных не принесет пользы.

#### Название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [30]:
query_5_5 = f''' 
            SELECT
                em.name,
                COUNT(industry_id) cnt_industry
            FROM 
                public.employers_industries em_i
                JOIN public.industries ind ON em_i.industry_id = ind.id
                JOIN public.employers em ON em_i.employer_id = em.id
            GROUP BY 1
            HAVING COUNT(industry_id) = 4
            ORDER BY em.name
            '''

In [31]:
exit_5_5 = pd.read_sql_query(query_5_5,connection_project)
display(exit_5_5)

                 name  cnt_industry
0        101 Интернет             4
1            21vek.by             4
2                2ГИС             4
3                  2К             4
4         4 пикселя +             4
...               ...           ...
1131            ЮРИОН             4
1132  ЮТИП Технологии             4
1133           ЯКласс             4
1134            ЯрНео             4
1135    Яшин&Партнёры             4

[1136 rows x 2 columns]

Работодателей с четырьмя сферами деятельности более 1к, такие компании могут быть слабоизвестны если каждый из бизнесов, который они ведут, не имеет широкого распространения своего продукта. Также организация может работать в сферах B2B и конечные потребители могут не знать о ней.

#### Количество работодателей, у которых сфера деятельности указана «Разработка программного обеспечения».

In [32]:
query_5_6 = f''' 
            SELECT
                COUNT(em.id)
            FROM 
                public.employers_industries em_i
                JOIN public.industries ind ON em_i.industry_id = ind.id
                JOIN public.employers em ON em_i.employer_id = em.id
            WHERE ind.name LIKE '%Разработка программного обеспечения%'
            '''

In [33]:
exit_5_6 = pd.read_sql_query(query_5_6,connection_project)
display(exit_5_6)

   count
0   3553

Разработкой ПО занимаются 3,5к организаций, довольно большое число организаций конкурирует в этой среде. Это может говорить об развитии рынка IT, поскольку многие компании и население стараются оптимизировать свою работу через компьютер. Соответственно будет повышаться спрос на специалистов IT, что приведет к увеличнию вакансий в этой области.

#### Для компании «Яндекс» вывести список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавить строку Total с общим количеством вакансий компании.

In [34]:
list_city = ('Москва','Санкт-Петербург',
'Новосибирск','Екатеринбург',
'Казань','Нижний Новгород',
'Челябинск','Красноярск',
'Самара','Уфа',
'Ростов-на-Дону','Омск',
'Краснодар','Воронеж',
'Пермь','Волгоград')

query_5_7 = f''' 
            SELECT 
                ar.name,
                COUNT(vc.id)
            
            FROM public.vacancies vc
                JOIN public.employers em ON em.id = vc.employer_id
                JOIN public.areas ar ON ar.id = vc.area_id
            WHERE em.name = 'Яндекс' AND ar.name in {list_city}
            GROUP BY 1
            
            UNION
            
            SELECT 
                'total', COUNT(*)
            FROM public.vacancies vc
                JOIN public.employers em ON em.id = vc.employer_id
                JOIN public.areas ar ON ar.id = vc.area_id
            WHERE em.name = 'Яндекс' AND ar.name in {list_city}
            ORDER BY 2
            '''

In [35]:
exit_5_7 = pd.read_sql_query(query_5_7,connection_project)
display(exit_5_7)

               name  count
0              Омск     21
1         Челябинск     22
2        Красноярск     23
3         Волгоград     24
4             Пермь     25
5            Казань     25
6    Ростов-на-Дону     25
7               Уфа     26
8            Самара     26
9         Краснодар     30
10          Воронеж     32
11      Новосибирск     35
12  Нижний Новгород     36
13     Екатеринбург     39
14  Санкт-Петербург     42
15           Москва     54
16            total    485

Вакансии Яндекса представлены в каждом городе-миллионнике, организация имеет широкую известность и это способствует развитию бренда на разные товары или услуги.

In [36]:
import requests # Импортируем библиотеку requests
url = 'http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu' # Определяем адрес страницы
response = requests.get(url)  # Выполняем GET-запрос, создаём объект requests
print(response.text)  # Выводим содержимое атрибута text

from bs4 import BeautifulSoup # Импортируем библиотеку BeautifulSoup
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup, указывая параметр html-парсер
j = page.find('tbody').text
for i in j:
    #if i = ''
    print(i)

<!doctype html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">

	<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO plugin v19.10 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Города миллионники России 2022, 2021 список. Города миллионеры России РФ таблица, карта - statdata.ru</title>
	<link rel="canonical" href="http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu" />
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Города миллионники России 2022, 2021 список. Города миллионеры России РФ таблица, карта - statdata.ru" />
	<meta property="og:description" content="Города миллионники России 2022, 2021 список 11.05.2022 На 1 января 2022 годаЧисленность населения городов-миллионников согласно&nbsp;данным Росстата от&nbsp;29.04.2022 &#171;Численность постоянного населения Российской Федерации по муниципальным образованиям &hellip;" />
	<meta property="og:url" content="http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu" />
	<meta property="og:site_name" content="statdata.ru" />
	<meta property="article:modified_time" content="2022-05-08T07:40:46+00:00" />
	<meta property="og:image" content="http://www.statdata.ru/wp-content/uploads/RF-million-cities.png" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:label1" content="Примерное время для чтения" />
	<meta name="twitter:data1" content="1 минута" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu","url":"http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu","name":"Города миллионники России 2022, 2021 список. Города миллионеры России РФ таблица, карта - statdata.ru","isPartOf":{"@id":"http://www.statdata.ru/#website"},"primaryImageOfPage":{"@id":"http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu#primaryimage"},"image":{"@id":"http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu#primaryimage"},"thumbnailUrl":"http://www.statdata.ru/wp-content/uploads/RF-million-cities.png","datePublished":"2021-08-18T13:00:41+00:00","dateModified":"2022-05-08T07:40:46+00:00","breadcrumb":{"@id":"http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu#breadcrumb"},"inLanguage":"ru-RU","potentialAction":[{"@type":"ReadAction","target":["http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu"]}]},{"@type":"ImageObject","inLanguage":"ru-RU","@id":"http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu#primaryimage","url":"http://www.statdata.ru/wp-content/uploads/RF-million-cities.png","contentUrl":"http://www.statdata.ru/wp-content/uploads/RF-million-cities.png","width":800,"height":478},{"@type":"BreadcrumbList","@id":"http://www.statdata.ru/goroda-millionniki-rossii-po-naseleniu#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Главная страница","item":"http://www.statdata.ru/"},{"@type":"ListItem","position":2,"name":"Города миллионники России 2022, 2021 список. Города миллионеры России РФ таблица, карта"}]},{"@type":"WebSite","@id":"http://www.statdata.ru/#website","url":"http://www.statdata.ru/","name":"statdata.ru","description":"Cтраны, города, статистика населения...","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"http://www.statdata.ru/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"ru-RU"}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel="alternate" type="application/rss+xml" title="statdata.ru &raquo; Лента" href="http://www.statdata.ru/feed" />
<link rel="alternate" type="application/rss+xml" title="statdata.ru &raquo; Лента комментариев" href="http://www.statdata.ru/comments/feed" />
<script type="text/javascript">
window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/14.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.statdata.ru\/wp-includes\/js\/wp-emoji-release.min.js?ver=04e2c900c898d28dafcef1e6e87aec60"}};
/*! This file is auto-generated */
!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode,e=(p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0),i.toDataURL());return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(p&&p.fillText)switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([129777,127995,8205,129778,127999],[129777,127995,8203,129778,127999])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(e=t.source||{}).concatemoji?c(e.concatemoji):e.wpemoji&&e.twemoji&&(c(e.twemoji),c(e.wpemoji)))}(window,document,window._wpemojiSettings);
</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css' href='http://www.statdata.ru/wp-includes/css/dist/block-library/style.min.css?ver=04e2c900c898d28dafcef1e6e87aec60' type='text/css' media='all' />
<style id='wp-block-library-theme-inline-css' type='text/css'>
.wp-block-audio figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-audio figcaption{color:hsla(0,0%,100%,.65)}.wp-block-audio{margin:0 0 1em}.wp-block-code{border:1px solid #ccc;border-radius:4px;font-family:Menlo,Consolas,monaco,monospace;padding:.8em 1em}.wp-block-embed figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-embed figcaption{color:hsla(0,0%,100%,.65)}.wp-block-embed{margin:0 0 1em}.blocks-gallery-caption{color:#555;font-size:13px;text-align:center}.is-dark-theme .blocks-gallery-caption{color:hsla(0,0%,100%,.65)}.wp-block-image figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-image figcaption{color:hsla(0,0%,100%,.65)}.wp-block-image{margin:0 0 1em}.wp-block-pullquote{border-top:4px solid;border-bottom:4px solid;margin-bottom:1.75em;color:currentColor}.wp-block-pullquote__citation,.wp-block-pullquote cite,.wp-block-pullquote footer{color:currentColor;text-transform:uppercase;font-size:.8125em;font-style:normal}.wp-block-quote{border-left:.25em solid;margin:0 0 1.75em;padding-left:1em}.wp-block-quote cite,.wp-block-quote footer{color:currentColor;font-size:.8125em;position:relative;font-style:normal}.wp-block-quote.has-text-align-right{border-left:none;border-right:.25em solid;padding-left:0;padding-right:1em}.wp-block-quote.has-text-align-center{border:none;padding-left:0}.wp-block-quote.is-large,.wp-block-quote.is-style-large,.wp-block-quote.is-style-plain{border:none}.wp-block-search .wp-block-search__label{font-weight:700}.wp-block-search__button{border:1px solid #ccc;padding:.375em .625em}:where(.wp-block-group.has-background){padding:1.25em 2.375em}.wp-block-separator.has-css-opacity{opacity:.4}.wp-block-separator{border:none;border-bottom:2px solid;margin-left:auto;margin-right:auto}.wp-block-separator.has-alpha-channel-opacity{opacity:1}.wp-block-separator:not(.is-style-wide):not(.is-style-dots){width:100px}.wp-block-separator.has-background:not(.is-style-dots){border-bottom:none;height:1px}.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots){height:2px}.wp-block-table{margin:"0 0 1em 0"}.wp-block-table thead{border-bottom:3px solid}.wp-block-table tfoot{border-top:3px solid}.wp-block-table td,.wp-block-table th{word-break:normal}.wp-block-table figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-table figcaption{color:hsla(0,0%,100%,.65)}.wp-block-video figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-video figcaption{color:hsla(0,0%,100%,.65)}.wp-block-video{margin:0 0 1em}.wp-block-template-part.has-background{padding:1.25em 2.375em;margin-top:0;margin-bottom:0}
</style>
<link rel='stylesheet' id='classic-theme-styles-css' href='http://www.statdata.ru/wp-includes/css/classic-themes.min.css?ver=1' type='text/css' media='all' />
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;}:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
<link rel='stylesheet' id='font-awesome-css' href='http://www.statdata.ru/wp-content/themes/bam/assets/fonts/css/all.min.css?ver=5.15.4' type='text/css' media='all' />
<link rel='stylesheet' id='bam-style-css' href='http://www.statdata.ru/wp-content/themes/bam/style.css?ver=04e2c900c898d28dafcef1e6e87aec60' type='text/css' media='all' />

In [37]:
str1 = """Москва	13 010	13,1%	11 504 
2	Санкт-Петербург	5602	14,8%	4880 
3	Новосибирск	1634	10,9%	1474
4	Екатеринбург	1544	14,4%	1350
5	Казань	1309	14,4%	1144
6	Нижний Новгород	1226	−2,0%	1251
7	Челябинск	1190	5,3%	1130
8	Красноярск	1188	21,6%	977
9	Самара	1173	0,3%	1169
10	Уфа	1145	7,8%	1062
11	Ростов-на-Дону	1142	4,9%	1089
12	Омск	1126	−3,4%	1166
13	Краснодар	1099	43,8%	764
14	Воронеж[a]	1058	18,9%	890
15	Пермь	1034	4,3%	991
16	Волгоград"""
g = []
for i in range(11):
	    g.append(str(i))
     
for i in str1:
    if i in g:
        1
    else:
        i

# Предметный анализ

#### Сколько вакансий имеет отношение к данным?

In [38]:
query_6_1 = f''' 
            SELECT 
                COUNT(name)
            FROM public.vacancies
            WHERE lower(name) LIKE '%данн%' OR
                lower(name) LIKE '%data%'
            '''

In [39]:
exit_5_7 = pd.read_sql_query(query_6_1, connection_project)
display(exit_5_7)

   count
0   1771

#### Сколько есть подходящих вакансий для начинающего дата-сайентиста?

In [40]:
query_6_2 = f''' 
            SELECT
                count(*)
            FROM public.vacancies
            WHERE 
            upper(name) NOT LIKE '%HTML%' AND
                (lower(name) LIKE '%data scientist%' OR
                lower(name) LIKE '%data science%' OR
                lower(name) LIKE '%исследователь данных%' OR
                UPPER(name) LIKE '%ML%' OR 
                lower(name) LIKE '%machine learning%' OR 
                lower(name) LIKE '%машинн%обучен%') AND
                
                (lower(name) LIKE '%junior%' OR
                experience LIKE '%Нет опыта%' OR
                employment LIKE '%Стажировка%') 
            '''

In [41]:
exit_6_2 = pd.read_sql_query(query_6_2,connection_project)
display(exit_6_2)

   count
0     51

Среди всех вакансий около 50 подходят начинающим специалистам data science. Профессия новая и число вакансий не велико, но спрос будет расти, поскольку информационные технологии помогают организациям собирать огромные объёмы информации, которые необходимо обрабатывать и извлекать из них ценные данные.

#### Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

In [42]:
query_6_3 = f''' 
            SELECT
                COUNT(*)
            FROM public.vacancies
            WHERE 
               (lower(name) LIKE '%data scientist%' OR
                lower(name) LIKE '%data science%' OR
                lower(name) LIKE '%исследователь данных%' OR
                UPPER(name) LIKE '%ML%' OR 
                lower(name) LIKE '%machine learning%' OR 
                lower(name) LIKE '%машинн%обучен%') AND
                
                upper(name) NOT LIKE '%HTML%' AND
                lower(name) NOT LIKE '%teamlead%' AND
                (lower(key_skills) LIKE '%sql%' OR lower(key_skills) LIKE '%postgre%')
            '''

In [43]:
exit_6_3 = pd.read_sql_query(query_6_3,connection_project)
display(exit_6_3)

   count
0    201

Навык работы с SQL требуется часто в работе саентиста, поскольку в этой профессии большую часть времени может занимать работа с данными - обработка, анализ, очистка. С помощью SQL можно быстро провести анаиз, получить нужную информацию и с помощью систем BI создать дашборд.

#### Вычислить количество вакансий, в которых в качестве ключевого навыка указан Python.

In [44]:
query_6_4 = f'''
            SELECT
                COUNT(*)
            FROM public.vacancies
            WHERE lower(key_skills) LIKE '%python%' AND
               (lower(name) LIKE '%data scientist%' OR
                lower(name) LIKE '%data science%' OR
                lower(name) LIKE '%исследователь данных%' OR
                UPPER(name) LIKE '%ML%' OR 
                lower(name) LIKE '%machine learning%' OR 
                lower(name) LIKE '%машинн%обучен%') AND
                
                upper(name) NOT LIKE '%HTML%' AND
                lower(name) NOT LIKE '%teamlead%' 
               '''

In [45]:
exit_6_4 = pd.read_sql_query(query_6_4,connection_project)
display(exit_6_4)

   count
0    351

Знание языка python требуется больше чем в половине вакансий для саентистов. Это связано с тем, что он является основным для машинного обучения. Довольно простой и в использовании, гибкий, множество библиотек - все это делает python самым востребованым языком в создании искуственного интеллекта.

#### Сколько ключевых навыков в среднем указывают в вакансиях для DS?

In [46]:
query_6_5 = f''' 
            SELECT 
                AVG(
                    LENGTH(key_skills) - LENGTH(REPLACE(key_skills, '\t','')) +1
                    )
            FROM public.vacancies
            WHERE
               (lower(name) LIKE '%data scientist%' OR
                lower(name) LIKE '%data science%' OR
                lower(name) LIKE '%исследователь данных%' OR
                name LIKE '%ML%' OR
                lower(name) LIKE '%machine learning%' OR 
                lower(name) LIKE '%машинн%обучен%') 
                AND 
                name NOT LIKE '%HTML%' AND
                key_skills IS NOT NULL
            '''

In [47]:
exit_6_5 = pd.read_sql_query(query_6_5,connection_project)
display(exit_6_5)

        avg
0  6.406032

In [48]:
query_6_5 = f''' 
            SELECT 
                key_skills
            FROM public.vacancies
            WHERE
               (lower(name) LIKE '%data scientist%' OR
                lower(name) LIKE '%data science%' OR
                lower(name) LIKE '%исследователь данных%' OR
                name LIKE '%ML%' OR
                lower(name) LIKE '%machine learning%' OR 
                lower(name) LIKE '%машинн%обучен%') 
                AND 
                name NOT LIKE '%HTML%' 
            '''
exit_6_5 = pd.read_sql_query(query_6_5,connection_project)

# создаем объет dataframe
ser = pd.DataFrame(exit_6_5) 

# Выбираем значения без None, ищем в каждой записи значения '/t' и считаем навыки
def func(data):
    
    if data is None:
        return 0
    
    str_skill = list(data)
    sum_skill = str_skill.count('\t') 
    return sum_skill +1

series = ser['key_skills'].apply(func)
#создаём новый датафрайм с кол-вом навыков
new_data = pd.DataFrame(series)
display(round(new_data.mean(),2))

key_skills    5.75
dtype: float64

#### Какую зарплату для DS в среднем указывают для каждого типа требуемого опыта.

In [14]:
query_6_6 = f''' 
            WITH with_null AS 
            (SELECT 
            -- Составим столбцец размера оплаты в случаи, если указана только одна граница зп вилки
                experience,
                coalesce(salary_from, 0) + coalesce(salary_to, 0) mean
                         
            FROM public.vacancies
            WHERE 
               (lower(name) LIKE '%data scientist%' OR
                lower(name) LIKE '%data science%' OR
                lower(name) LIKE '%исследователь данных%' OR
                name LIKE '%ML%' OR
                lower(name) LIKE '%machine learning%' OR 
                lower(name) LIKE '%машинн%обучен%') 
                AND 
                name NOT LIKE '%HTML%' AND
                (salary_from IS NOT NULL OR
                salary_to IS NOT NULL) AND
                (salary_from + salary_to) IS NULL
                
            UNION ALL
            
            SELECT 
            -- Получим размер оплаты в случаи, если указаны обе границы зп вилки и
            -- объеденим с предыдущим запросом 
                experience,
                (salary_from + salary_to)/2
                
            FROM public.vacancies
            WHERE 
               (lower(name) LIKE '%data scientist%' OR
                lower(name) LIKE '%data science%' OR
                lower(name) LIKE '%исследователь данных%' OR
                name LIKE '%ML%' OR
                lower(name) LIKE '%machine learning%' OR 
                lower(name) LIKE '%машинн%обучен%') 
                AND 
                name NOT LIKE '%HTML%' AND
                (salary_from IS NOT NULL OR
                salary_to IS NOT NULL) AND
                (salary_from + salary_to) IS NOT NULL
                )
                
            SELECT 
            -- Группируем по столбцу опыта и считаем среднее значение зарплат 
                experience,
                AVG(mean)
            FROM  with_null
            GROUP BY 1
            '''

In [16]:
exit_6_6 = pd.read_sql_query(query_6_6,connection_project)
display(exit_6_6)

connection_project.close()

           experience            avg
0       От 3 до 6 лет  243114.666667
1  От 1 года до 3 лет  139674.750000
2           Нет опыта   74642.857143

# Общий вывод по проекту